@import 'tailwindcss';

@theme {
	--animate-cup-bob: cup-bob 5s ease-in-out infinite;

	@keyframes cup-bob {
		0% {
			rotate: 6deg;
		}
		50% {
			rotate: -6deg;
		}
		100% {
			rotate: 6deg;
		}
	}
}
